<%- layout("/layouts/boilerplate") %>

<div class="d-flex justify-content-center align-items-center text-center" style="min-height: 70vh;">
    <div>
        <div class="alert alert-danger d-inline-flex align-items-center px-4">
            <i class="fa-solid fa-triangle-exclamation me-2 fs-4"></i>
            <strong><%= message %></strong>
        </div>
        <br>
        <a href="/listings" class="btn btn-outline-danger mt-3">Go back home</a>
    </div>
</div>
